<p>Hello Team,</p>

<p>
  We&#39;ve received a new message Here are the details of the submission for
  your review and action:
</p>

<ul>
  <li><strong>Name:</strong> {{name}}</li>
  <li><strong>Email:</strong>&nbsp;{{email}}</li>
  <li><strong>Phone:</strong>&nbsp;{{phone}}</li>
  <li><strong>Type of Feature:</strong>&nbsp;{{featureType}}</li>
  <li><strong>Type of Products:</strong>&nbsp;{{productTypes}}</li>
  <li><strong>Message:</strong>&nbsp;{{message}}</li>
  <li><strong>Can Discuss:</strong>&nbsp;{{discuss}}</li>
</ul>
